@use "../src/app/calendar/variables.scss" as vars;
@import "@angular/material/prebuilt-themes/magenta-violet.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: vars.$background-dark;
}

.mat-dialog-container {
  background-color: red;
  color: white;
  border-radius: 12px;
  padding: 24px;
  max-width: 100%;
}
